@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Code+Pro:wght@200&display=swap');

	.head {
		font-family: 'Source Code Pro', monospace;
		width: 720px;
		height: min-content;
		margin: 20px;
		padding: 5px;
		background-color: white;
		border-radius: 8px;
		border: 3px solid;
	}
	.main {
		font-family: 'Source Code Pro', monospace;
		font-size: 22px;
		width: 720px;
		height: min-content;
		padding: 5px;
		margin: 20px;
		background-color: white;
		border-radius: 8px;
		border: 3px solid;
	}
	
	.result {
		font-family: 'Source Code Pro', monospace;
		font-size: 22px;
		width: 200px;
		height: min-content;
		padding: 5px;
		margin: 20px;
		background-color: white;
		border-radius: 8px;
		border: 3px solid;
	}
	
	body {
		background-color:white;
	}

